body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #192941;
    color:white;
    font-family: 'Oswald', sans-serif;
    row-gap: 60px;
}

h1 {
    font-size: 250%;
}

#grid {
    display: grid;
    height: 60vh;
    width: 60vh;
    border: 1px grey solid;
    background-color: white;
}

.grid-square {
    border: 0.5px grey solid;
}

#menu-container {
    display: flex;
    background-color: aliceblue;
    border-radius: 3px;
    column-gap: 5px;
    padding: 15px;
}

button {    
    font-family: 'Oswald', sans-serif;
    padding: 8px;
    background-color: bisque;
    border: 1px solid rgb(26, 26, 143);
    border-radius: 3px;
}